@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Сервис для классификации обращений</h1>
    <br />
    <p>
        <textarea class="inputbox" id="Input" cols="45" placeholder="Введите ваше обращение"></textarea>
    </p>
    <button class="button" id="Start">
        <span>
            Отправить запрос
        </span>
    </button>
    <br />
    <br />
    <p class="output" id="Output" >
        Здесь будет ответ
    </p>
</div>
