@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Сервис для классификации обращений</h1>
    <br/>
    <p>
        <textarea id="Input" cols="45" placeholder="Введите ваше обращение"></textarea>
    </p>
</div>
