@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="display-4">Сервис для классификации обращений</h1>
<br/>

<p>
    Сервис реализует классификацию обращения исходя из его текста. Метод классификации основан на базе технологий машинного обучения (Machine Learning) с использованием библиотеки ML.NET. На входе текст сообщения обращения на русском языке, на выходе текст сообщения, зависящий от эмоциональной окраски (Positive, Negative, Neutral). Сервис разработан на платформе ASP.NET Core и опубликован на хостинге Somee.com. Работа с сервисом осуществляется через API и Web-форму.
</p>
<br/>
<h3>
    Использование REST API сервиса    
</h3>
<p>
    Сервис имеет архитектуру API для реализации работы с ним. Входные и выходные данные представлены в формате JSON.
</p>
<h4>
    URL-запрос (из адресной строки браузера)
</h4>
<p>
    GET http://classifier.somee.com/api/Classification/urlquery/«текст обращения»
</p>